body {
    font-family: Arial;
    text-align: center;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 6vw;
    margin-top: 15px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3vw;
    width: 90vw;
    max-width: 400px;
    margin: 20px auto;
}

.cell {
    width: 100%;
    aspect-ratio: 1/1;   /* perfect square */
    font-size: 10vw;     /* auto adjust text */
    font-weight: bold;
    background: rgb(161, 74, 215);
    border: 6px solid rgba(81, 100, 142, 0.581);
    cursor: pointer;
    border-radius: 10px;
}

#status {
    font-size: 5vw;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    color: rgb(3, 22, 22);
    font-size: 4vw;
    font-weight: 800;
    margin-top: 10px;
    background-color: aquamarine;
    border-radius: 50px;
    cursor: pointer;
}